--extra-index-url https://download.pytorch.org/whl/cu128

pandas==2.3.3
numpy==2.4.1
scipy==1.17.0
statsmodels==0.14.6
matplotlib==3.10.8
requests==2.32.5
beautifulsoup4==4.14.3
pymupdf==1.26.7
tqdm==4.67.1
selenium==4.40.0
webdriver-manager==4.0.2
nltk==3.9.2
transformers==5.1.0
torch==2.10.0+cu128
